# Ignore all files .sh
*.sh
lecture_5/Results/.ipynb_checkpoints/
# Ignore results lecture 5
lecture_5/Results/RW_excited_*.dat
lecture_5/Results/RW_ground_*.dat
lecture_5/Results/ex_05.1_excited_*.dat
lecture_5/Results/ex_05.1_ground_*.dat
